# Environment variables
.env
.env.*
backend/.env
frontend/.env

# Node modules
node_modules/

# Logs
logs
*.log

# model weights
__pycache__/
*.pyc

# Virtual environment
venv/
ai-service/legal_rag/venv/

ai-service/legal_rag/bns_max.json
ai-service/legal_rag/bns_all.json
